body{
    background-color: rgba(0, 128, 0, 0.466);
    font-family: Arial, Helvetica, sans-serif;
}
h1#principal {
    background-color: rgb(2, 59, 2);
    text-align: center;
    color: white;
}
h1{
    color: rgb(8, 102, 8);
}
h2#basico{
    color: rgb(8, 102, 8);
}

h2#intermedio{
    color: yellow
}
h2#avançado{
    color: red;
}
