@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap');


@font-face {
    font-family: 'idroid';
    src: url('../fontes/idroid.otf') format('opentype');
} 


body{
    margin: 0px;
    background-color: #89E1A4;
}

header{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    color: white;
    background-image: linear-gradient(to top, #1c5e30, #2f974e, #44DB71);
}

header > h1{
    text-align: center;
    font-family:'Bebas Neue';
}

header > p{
    text-align: center;
}

nav > a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav > a:hover{
    background-color: rgb(51, 150, 51);
}

main{ 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    background-color: white;  
    width: 800px;
    text-indent: 30px;
    padding: 10px;
}

main > p > a{
    text-decoration: none;
    color: rgb(51, 150, 51);
    font-weight: bold;
}

main > p{
    font-size: 18px;
}

main > h2 {
    font-family: 'idroid';
    width: 800px;
    margin: 3px;
    color: #385C43;
    box-shadow: inset 75px 0px 30px rgb(165, 252, 165);
}

main > h1{
    color: #385C43;
    font-family: 'idroid';
}

.center{
    position: relative;
    left: 30%;
}

main > div{
    margin: -10px;
    background-color: #1C5C2F;
    padding: 10px;
}

article > h2{
    background-color: #34A857;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

article{
    border-radius: 10px;
    background-color: #89E1A4;
}

footer{
  background-color: #385C43;
  color: white;
  text-align: center;
  padding: 5px;
}

ul > li {
    width: 230px;
    margin: 0;
    overflow: hidden;
  }
  
  ul li:nth-child(odd) {
    float:left;
  }
